#footer{
  background-color: darkblue;
  height: 50%;
}
#company{
  color: white;
}
#products {
  color: white;
}
#companyText{
  color: white;
}
#links{
  color: white;
}
#contact{
  color: white;
}
#men{
  color: white;
}
#women{
  color: white;
}
#all{
  color: white;
}
#ttt{
  color: white;
}
#parteners{
  color: white;
}
#adidas{
  color: white;
}
#nike{
  color: white;
}
#puma{
  color: white;
}
#reebok{
  color: white;
}
#str{
  color: white;
}
#git{
  color: white;
}
#mobile{
  color: white;
}
#mobile2{
  color: white;
}
#copy{
  color: white;
}
#facebook{
  color: white;
}
#twitter{
  color: white;
}
#google{
  color: white;
}
#linkedin{
  color: white;
}
#instagram{
  color: white;
}
#icons{
  margin: auto;
  width: 50%;
  padding: 10px;
}

