<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


<div class="card my-5" style="background-color: whitesmoke">
  <div class="card-body">
    <div class="row">
      <div class="col-md-5">
        <div  class="card"
             style="background-color: whitesmoke; box-sizing: border-box;text-align: center;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);padding: 5px;">

          <table class="table table-bordered table-striped">
            <thead >
            <tr>

              <th class="align-middle" scope="col">Product name</th>
             <!-- <th class="align-middle" scope="col">Product details</th> -->
              <th class="align-middle" scope="col">Quantity</th>
              <th class="align-middle" scope="col">Price</th>
             <!--  <th class="align-middle" scope="col">Comments</th> --->

              <div class="row d-flex align-items-center"></div>

            </tr>
            </thead>
            <tbody >
            <tr
              *ngFor="let orderLine of order.orderLineDtoModels | paginate : {itemsPerPage: numberOfItemsPerP, currentPage: p}">


             <!-- <td ><div style="color: black">{{(order.orderLineDtoModels.indexOf(orderLine) + 1)}}</div></td> -->


              <td><div style="color: black">{{orderLine.productDto.name}}</div></td>
             <!-- <td><div style="color: black">{{orderLine.productDto.description}}</div></td> -->
              <td><div style="color: black">{{orderLine.quantity}}



                <input type="number" style="width: 50px;" value="1" min="0"
                       [(ngModel)]="orderLine.quantity" (change)="changeQuantity(orderLine)">Qty</div></td>
              <td><div style="color: black">{{orderLine.price}}<span> EUR</span></div></td>

            <!--  <td>
                <div class="btn-group">
                  <label >Add Qty = 0 for deletion
                  </label>
                </div>
              </td> -->
            </tr>

            </tbody>

          </table>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <hr>

      <div class="col-2 text-center"></div>

      <div class="col-md-5">
        <div class="card"
             style="width: 480px; height: 105px; background-color: black; box-sizing: border-box;text-align: center;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);padding: 5px;">
          <div style="color: whitesmoke;font-family:cursive;"> <label>Total cost: <b> {{order.totalCost}} EUR</b></label>
            <br>
            <div *ngIf="order.orderLineDtoModels.length != 0"><label>Number of items: <b>{{order.orderLineDtoModels.length}}</b></label></div>
            <div *ngIf="order.orderLineDtoModels.length==0"><label>Cart is empty</label></div>

          </div>

          <div class="btn-group" style="margin-left:350px">

            <button (click)="placeOrder(order.id)" type="button" class="btn btn btn-light btn-sm">Place order</button>

          </div>


        </div>
      </div>
    </div>
  </div>
</div>
