.card {
  height: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  border: 1px solid #ccc;
  margin: 5%;
}
.card-container {
  display: flex;
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
